.bg-light {
    background-color: #0CBCCC !important;
}

.navbar-brand {
    margin-right: 0rem!important;
}

.btn-new {
    border-radius: 1rem!important;
    color: #fff!important;
    background-color: #0CBCCC !important;
    border-color: #0CBCCC !important;
}

.btn-new:hover {
    border-radius: 1rem!important;
    color: #fff!important;
    background-color: #0cbcccc7 !important;
    border-color: #0cbcccc7 !important;
}

.btn-new-success-sweet-alert {
    border-radius: 1rem!important;
    color: #fff!important;
    background-color: #0CBCCC !important;
    border-color: #0CBCCC !important;
    margin-left: 5px !important;
}

.btn-new-danger-sweet-alert {
    border-radius: 1rem!important;
    color: #fff!important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    margin-right: 5px !important;
}

.btn-primary {
    font-weight: 700 !important;
}

body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.demo {
    background-color: rgb(168, 200, 245)
}

.size-menu-navigation li a {
    font-size: 15px !important;
}

.menu-nav {
    font-weight: 800;
    color: #0CBCCC;
}

.shadow-personalized {
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}


/*@media (max-width: 767px) {
    .pagination li a.page-link {
        padding: 11px 8px !important
    }
    .fa {
        font-size: 9px !important
    }
    li a {
        font-size: 12px !important
    }
    .page-item+.page-item {
        padding-left: 0 !important
    }
}*/

.carousel-caption {
    bottom: auto !important;
}

.img-circle {
    border-radius: 150px;
}


/*Cards Admin Panel*/

.grey-bg {
    background-color: #F5F7FA;
}

.card-panel {
    text-decoration: none;
}

.card-panel:link {
    color: #0CBCCC !important;
}

.card-panel:visited {
    color: #0CBCCC !important;
}

.card-panel:hover {
    color: #13c6d6 !important;
}

.card-panel:active {
    color: #0CBCCC !important;
}


/*About Cards*/

.card-mod {
    margin-top: 10px;
    margin-bottom: 10px;
}